<header>
    <a class="header-title" href="#/">
        virtual wardrobe
    </a>
    <a class="header-login" href="#/login">
        <img src="../../../icon/person.gif" alt="" id="person" class="icon">
        <i class="icon icon-user">Войти</i>
    </a>
</header>