<main>
    <div class="wardrobe">
        <div class="shelf-outerwear" data-status="close">
            <div class="shelf-name">
                <a>Верхняя одежда</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-sweatshirts" data-status="close">
            <div class="shelf-name">
                <a>Кофты</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-jackets" data-status="close">
            <div class="shelf-name">
                <a>Пиджаки</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-shirts" data-status="close">
            <div class="shelf-name">
                <a>Рубашки</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-blouses" data-status="close">
            <div class="shelf-name">
                <a>Блузы</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-t-shirts" data-status="close">
            <div class="shelf-name">
                <a>Футболки</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-trousers" data-status="close">
            <div class="shelf-name">
                <a>Брюки</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-jeans" data-status="close">
            <div class="shelf-name">
                <a>Джинсы</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-dresses" data-status="close">
            <div class="shelf-name">
                <a>Платья</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-shorts" data-status="close">
            <div class="shelf-name">
                <a>Шорты</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-skirts" data-status="close">
            <div class="shelf-name">
                <a>Юбки</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-shoes" data-status="close">
            <div class="shelf-name">
                <a>Обувь</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-bags" data-status="close">
            <div class="shelf-name">
                <a>Сумки</a>
            </div>
            <div class="shelf-items"></div>
        </div>
        <div class="shelf-accessories" data-status="close">
            <div class="shelf-name">
                <a>Аксессуары</a>
            </div>
            <div class="shelf-items"></div>
        </div>
    </div>
    <div class="image">
        <div class="button-image">
            <button class="my-images pink">Мои образы</button>
            <button class="save-image green">Сохранить образ</button>
        </div>
        <div class="creation-image">
            <div class="photo clearfix">
                <form id="form">
                    <label for = "file"><i class="icon icon-camera"><input id="file" name="file" type="file"/><img src="../../../icon/camera.gif" alt="" id="camera" class="icon"><span>Добавить фото</span></i></label>
                </form>
            </div>
            <div class="trash">
                <i class="icon icon-trash"><img src="../../../icon/trash.gif" alt="" id="trash-image" class="icon"><span>Удалить<br>фото</span></i>
            </div>
        </div>
    </div>
</main>